# Core Backend
fastapi
uvicorn
pymongo
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]

# AI & OCR
google-generativeai
easyocr
PyMuPDF
numpy
pillow

# Network & Utilities
httpx
fastapi-mail
jinja2
